<div class="header w-full px-5 py-2">
  <div class="flex justify-end text-sm mb-3">
    <div class="flex w-2/5 justify-between">
      <a href="#" class="text-white font-semibold">What's the Tomatometer®?</a>
      <a href="#" class="text-white font-semibold">Critics</a>
      <div id="auth-section" class="flex justify-between">
      </div>
    </div>
  </div>

  <div class="flex items-center justify-between mb-5">
    <div class="logo">
      <span class="text-2xl font-bold text-white">Movies Review</span>
    </div>
    <div class="search-area w-1/4">
      <input
        type="text"
        placeholder="Search movies, TV, actor, more..."
        class="border h-8 text-white rounded-xl w-full px-2"
      />
    </div>
    <div class="menu flex justify-between w-1/2">
      <a href="#" class="text-white font-bold">MOVIES</a>
      <a href="#" class="text-white font-bold">TV SHOW</a>
      <a href="#" class="text-white font-bold">RT PODCAST</a>
      <a href="#" class="text-white font-bold">NEWS</a>
      <a href="#" class="text-white font-bold">SHOWTIMES</a>
    </div>
  </div>
</div>
